body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(248, 243, 243);
}

#calculator {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(16, 16, 17);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: rgb(82, 82, 80);
  color: white;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 100 px;
  height: 100 px;
  border-radius: 70px;
  border: none;
  background-color: rgb(69, 67, 67);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: rgb(112, 111, 111);
  color: black;
}
button:active {
  background-color: antiquewhite;
}
.operator-btn {
  background-color: rgb(255, 165, 0);
}
.operator-btn:hover {
  background-color: rgb(255, 200, 0);
  color: black;
}
.operator-btn:active {
  background-color: yellow;
}
